<div class="card shadow-sm p-3 mb-3">
  <div class="card-body">
    <div class="row text-center">
      <div class="col-1">
        <h5 class="card-title text-primary"># {{ ticket.ticketId }}</h5>
      </div>
      <div class="col-2">
        <h5 class="card-title">{{ ticket.subject }}</h5>
      </div>
      <div class="col-2">
        <p class="card-text">{{ ticket.description }}</p>
      </div>
      <div class="col-2">
        <h5
          class="card-text"
          [ngClass]="{
            'text-success': ticket.state === TicketState.Closed,
            'text-danger': ticket.state === TicketState.Open
          }"
        >
          {{ TicketState[ticket.state] }}
        </h5>
      </div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onTicketStateChanged(ticket.ticketId)"
        >
          {{ ticket.state === 1 ? 'Close Ticket' : 'Open Ticket' }}
        </button>
      </div>
    </div>
  </div>
</div>
